
.App {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: pink; 
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  
  
}

.login-form,
.chat-window {
  border: 1px solid #cc6dce;
  padding: 20px;
  border-radius: 8px;
  color: #7d387d;
}


input {
  padding: 10px;
  width: 80%;
  margin-right: 5px;
}

button {
  padding: 10px;
}

.chat-box {
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 10px;
  background: #f9f9f9;
  padding: 10px;
}

.message {
  margin: 5px 0;
}

.message.user {
  text-align: right;
  color: blue;
}

.message.bot {
  text-align: left;
  color: rgb(32, 11, 71);
}


.logged-in-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px 80px;
  width: 100%;
  box-sizing: border-box;
}

.column {
  background: #fff0f7;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(200, 100, 200, 0.1);
}

.full-width-section {
  margin: 40px 40px;
  padding: 20px;
  background: #fef5ff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(220, 120, 220, 0.1);
}
