.about-sakhi-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 50px 50px;
  min-height: 80vh;
  background-image: url('https://cdn.quotesgram.com/img/18/76/1116367003-o-SELF-EMPOWERMENT-facebook.jpg'); 
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

.about-text {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.7); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.about-sakhi h1 {
  font-size: 36px;
  color: #451e45;
  margin-bottom: 20px;
  text-align: left;
}

.about-sakhi p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

.about-sakhi .quote {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  color: #451e45;
}
