.login-container {
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* move card up */
  padding-top: 60px; /* more control over vertical spacing */
  background: url('https://static.vecteezy.com/system/resources/previews/003/301/432/original/feminism-concept-with-woman-girl-standing-together-free-vector.jpg') no-repeat center center/cover;
  position: relative;
}


.login-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(166, 76, 166, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
  color: #a64ca6;
  font-size: 28px;
}

.login-card h2 span {
  color: #d264d2;
}

.login-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 30px;
}


.login-card input {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  border-radius: 10px;
  border: 2px solid #d18be5;
  font-size: 16px;
  box-sizing: border-box;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #a64ca6;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-card button:hover {
  background-color: #922c92;
}
@media screen and (max-width: 600px) {
  .login-container {
    padding-top: 40px;
    align-items: center;
  }

  .login-card {
    width: 90%;
  }
}
